@{ 
   ViewData["Title"] = "Login";
}
<br>
<br>
<form>
    <div class="container">
       <label for="uname"><b>Username</b> </label>
        <input type="text" placeholder="Enter Username"name="uname"required class="form-control">
        <label for="psw"><b>Password</b> </label>
        <input type="password" placeholder="Enter Password"name="psw"required class="form-control">

        <button type="submit">Login</button>
           <input type="checkbox" checked="checked" name="remember"> Remember me
      </div>
       <div>
        <button type="button"class="btn-danger">Cnacel</button>
        <span>Forgot <a href="#">Password?</a></span>
       </div>
    
</form>              