@{
    ViewData["Title"] = "Cadastro";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form>
    <fieldset class="border">
        <legend> Informações Pessoais</legend>
        <div class="container">
            <div class="row">
                <div class="form-group">
                    <label for="uname"><b>Nome</b> </label>
                    <input type="text" placeholder="Nome Completo" name="uname" required class="form-control">

                    <div class="row">
                        <label for="uname"><b>Data de Nasc.</b> </label>
                        <input type="text" placeholder=" /  / " name="uname" required class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-row">
                        <label for="uname"><b>Data do Cadastro</b> </label>
                        <input type="text" placeholder=" /  / " name="uname" required class="form-control">
                    </div>
                </div>

                    <div class="form-row">
                        <label for="uname"><b>Escolaridade</b> </label>
                        <input type="text" placeholder=" " name="uname" required class="form-control">
                    </div>

                    <div class="form-row">
                        <label for="uname"><b>Naturalidade</b> </label>
                        <input type="text" placeholder=" " name="uname" required class="form-control">
                    </div>

                    <div class="form-row">
                        <label for="uname"><b>Nome do Pai</b> </label>
                        <input type="text" placeholder="Nome Completo" name="uname" required class="form-control">
                    </div>

                    <div class="form-row">
                        <label for="uname"><b>Nome da Mãe</b> </label>
                        <input type="text" placeholder="Nome Completo" name="uname" required class="form-control">
                    </div>

                    <label for="uname"><b>Identidade</b> </label>
                    <input type="text" placeholder="xxx.xxx.xxx-xx" name="uname" required class="form-control">

                </div>
            </div>
    </fieldset>
</form>         
